h1
{
  font-family: sans-serif;
  color: #3d302e;
  font-size:40px;
  font-weight: 300;
  text-align: center;
}
header
{
  border-width: 0.14px;
  border-color: #b5b7ba;
  border-style: solid;
  background-color: #dfdfdf;
  width: 1920px;
  height: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a
{
  font-family: sans-serif;
  color: #4d4d44d;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  text-decoration: none;
}

main
{
  display: flex;
  justify-content: space-around;
  padding: 2%;
  align-items: center;
  flex-wrap: wrap;
}

p
{
  font-family: sans-serif;
  color: #242424;
  font-size: 24px;
  font-weight: 100;
  line-height: 36px;
  text-align: left;
  width:693px;

}

footer
{
  background-color: #434445;
  font-size: 24px;
  height: 132px;
  color: #a4a4a4;
  font-style: italic;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project-photo
{
  
}
